#############################################
# Quantumelt X 重写去广告
# Noads
#############################################


# >>>>>>>>>>>>>>> ✅ 1 ✅ <<<<<<<<<<<<<<
# > 12123 交管12123去广告
# hostname = gab.122.gov.cn
^https?://gab.122.gov.cn/eapp/m/sysquery/adver$ url reject
# > 12306
# hostname = ad.12306.cn
^https?:\/\/ad\.12306\.cn\/ad\/ser\/getAdList url script-analyze-echo-response https://raw.githubusercontent.com/kokoryh/Script/master/js/12306.js


# >>>>>>>>>>>>>>> ✅ A ✅ <<<<<<<<<<<<<<
# > Apple
# hostname = mesu.apple.com, gdmf.apple.com
# iOS 正式版更新检测
^https?:\/\/mesu\.apple\.com\/assets\/com_apple_MobileAsset_SoftwareUpdate\/com_apple_MobileAsset_SoftwareUpdate\.xml$ url reject
# iOS Beta 更新检测
^https?:\/\/mesu\.apple\.com\/assets\/com_apple_MobileAsset_SoftwareUpdate\/com_apple_MobileAsset_SoftwareUpdate_Beta\.xml$ url reject
# 更新策略接口
^https?:\/\/gdmf\.apple\.com\/v2\/(pmv|assets) url reject
