#############################################
# Quantumelt X 重写去广告
# Noads
#############################################


# >>>>>>>>>>>>>>> ✅ 1 ✅ <<<<<<<<<<<<<<
# > 12123 交管12123去广告
# hostname = gab.122.gov.cn
^https?://gab.122.gov.cn/eapp/m/sysquery/adver$ url reject
